<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Lambda Tunnel Setup" parallel="tests" thread-count="5">

<listeners>
<listener class-name="Tunnel_setup.Java_Lambda_Tunnel_Setup.RunTunnelListener"></listener>
</listeners>

<test name="Sample Test One">
<classes>
<class name="Tunnel_setup.Java_Lambda_Tunnel_Setup.SampleTest" />
</classes>
</test>

<test name="Sample Test Two">
<classes>
<class name="Tunnel_setup.Java_Lambda_Tunnel_Setup.SampleTest" />
</classes>
</test>

















</suite>